/* logo.css */

.logo {
     color: #2563eb; /* blue-600 */
     font-weight: bold;
     display: flex;
     gap: 8px;
     padding: 16px;
     align-items: center;
     font-size: 1.1rem;
   }
   
   .logo-icon {
     width: 24px;
     height: 24px;
   }
   